html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
ol,
ul,
li,
form,
label {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input {
    padding: 0;
    margin: 0;
    border: none;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

img {
    outline: none;
    border: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

a {
    text-decoration: none;
}

.block {
    display: block;
}